/* -------------------------------------------

Name: 		Ruizarch
Version:    1.1
Author: bslthemes
Author URL: https://themeforest.net/user/bslthemes/portfolio
Developer:	Nazar Miller (millerDigitalDesign), email: miller.themes@gmail.com

------------------------------------------- */

/*--------------------------------------------

1. common
    - main
    - typography
    - suptitle
    - link
    - button
    - breadcrumbs
    - list
    - backgrounds
    - spaces
    - 
2. components
    - scrollbar
    - background grid
    - banner
    - slider navigation
    - counters
    - illustrations
    - icons
    - services
    - portfolio
    - accordion
    - blog
    - footer
    - top panel
    - menu button
    - hover images
    - process
    - inputs
    - reviews
    - price
    - skills
    - call to action
    - sidebar
    - map
    - team
    - comments
    - filter
    - timer
    - load more

--------------------------------------------*/

@import 'variables.module';
@import 'common';
@import 'components';
